.swiper-pagination-bullet {
  background: #fff !important;
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  margin: 0 8px !important;
}

.swiper-pagination-bullet-active {
  background: #ee6352 !important;
}

.categories .swiper-container {
  /* display: flex; */
  /* justify-content: center; */
  /* padding: 0 100px; */
}

.categories .swiper-wrapper {
  /* padding: 0 100px !important; */
}
